apiVersion: apps/v1
kind: Deployment
metadata:
  name: front-ifroevents
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: eventos-front
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        io.kompose.service: eventos-front
    spec:
      restartPolicy: Always
      
      securityContext:
        fsGroup: 1001
      
      containers:
        - name: front-ifroevents
          image: ruanlopes1350/front-ifroevents:latest
          imagePullPolicy: Always
          
          ports:
            - containerPort: 3000
              protocol: TCP
          
          envFrom:
            - configMapRef:
                name: eventos-front-env
          
          resources: {}

          # Liveness Probe - verifica se o container está vivo
          livenessProbe:
            httpGet:
              path: /
              port: 3000
              scheme: HTTP
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
            successThreshold: 1
          
          # Readiness Probe - verifica se o container está pronto para receber tráfego
          readinessProbe:
            httpGet:
              path: /
              port: 3000
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3
            successThreshold: 1
          
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: false
            runAsUser: 1001
            runAsGroup: 1001
            capabilities:
              drop:
                - ALL
---

apiVersion: v1
kind: Service
metadata:
  labels:
    io.kompose.service: eventos-front
  name: ifroevents
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 80
    targetPort: 3000
    protocol: TCP
  selector:
    io.kompose.service: eventos-front
